/* style.css */
    INPUT:-webkit-autofill,
    SELECT:-webkit-autofill,
    TEXTAREA:-webkit-autofill{animation-name:onautofillstart}
    INPUT:not(:-webkit-autofill),
    SELECT:not(:-webkit-autofill),
    TEXTAREA:not(:-webkit-autofill){animation-name:onautofillcancel}@keyframes onautofillstart{}@keyframes onautofillcancel{}
	
	@keyframes slideInFromBottom{
		0%{
			opacity:.1;
			transform:translateY(100%)
		}
		100%{
			opacity:1;
			transform:translateY(0)
		}
	}
	
	@keyframes slideInFromBottomDelay{
		0%{
			opacity:0;
			transform:translateY(100%)
		}
		97%{
			opacity:0;
			transform:translateY(100%)
		}
		100%{
			opacity:1;
			transform:translateY(0)
		}
	}
	
	
		body {
		    background: #333954;
    		background-size: 400% 400%;
    		height: 100vh;
			font-family: "Century Gothic", sans-serif;

		}
		.divider:after, .divider:before {
			content: "";
			flex: 1;
			height: 1px;
			background: #eee;
			opacity: 50px;
		}

		.info-span {
			font-family: "Century Gothic", sans-serif;
		}

		.divider:after,
        .divider:before {
            content: "";
            flex: 1;
            height: 1px;
            background: #eee;
        }

        .input-box label {
            top: 45%;
            left: 5px;
            transform: translateY(-50%);
            position: absolute; 
            font-size: 1em; 
            pointer-events: none;
            font-weight: 500;
            transition: .5s;
            
        }
        .input-box input:focus~label, 
        .input-box input:valid~label { 
            top: -5px;
        }
        
        .input-box {
            position: relative; 
            width: 100%;
            height: 50px;
            margin: 30px 0;
        }
        
        .input-box .icon { position: absolute;
        right: 8px;
        font-size: 1.2em;
        color: #000;
        line-height: 57px;
        }

		/* Style the profile picture */
		.profile_pic {
			width: 35%;
			float: left;
		}

		/* Style the circular profile image */
		.img-circle.profile_img {
			width: 70%;
			background: #fff;
			margin-left: 15%;
			z-index: 1000;
			position: inherit;
			margin-top: 20px;
			border: 1px solid rgba(52, 73, 94, .44);
			padding: 4px;
		}

		/* Style the profile information */
		.profile_info {
			padding: 25px 10px 10px;
			width: 65%;
			float: left;
		}

		/* Style text within the profile information */
		.profile_info span {
			font-size: 13px;
			line-height: 30px;
			color: #BAB8B8;
		}

		/* Style the heading within the profile information */
		.profile_info h2 {
			font-size: 14px;
			color: #ECF0F1;
			margin: 0;
			font-weight: 300;
		}

		/* Style the profile image in a different layout */
		.profile.img_2 {
			text-align: center;
		}

		/* Style the profile picture within the different layout */
		.profile.img_2 .profile_pic {
			width: 100%;
		}

		/* Style the circular profile image within the different layout */
		.profile.img_2 .profile_pic .img-circle.profile_img {
			width: 50%;
			margin: 10px 0 0;
		}
		
		.modal-content {
			background-image: url('bg3_spes.png');
			background-size: cover; 
			background-repeat: no-repeat;
			background-position: center center;
			color: rgb(0, 0, 0); 
		  }

		  
